#menu_background {
    background: url(produktion/Titel.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-size: 100%;
}

.start {
    animation-name: start_kf;
    display: none;
}


/********************* SPILLESKÆRM *****************/

#screen {
    position: relative;
    width: 100vw;
    height: 56.23vw;
}

#game_background {
    background: url(produktion/spilscreen.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-size: 100%;
}

/********************* Figurer *****************/
#bums1 {
    background: url(produktion/Bumser.svg);
    position: absolute;
    background-size: 50%;
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 33vw;
    left: 30vw;
}

#bums2 {
    background: url(produktion/Bumser.svg);
    position: absolute;
    background-size: 50%;
    height: 5vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 40vw;
    left: 50vw;
}

#bums3 {
    background: url(produktion/Bumser.svg);
    position: absolute;
    background-size: 50%;
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 23vw;
    left: 70vw;
}

#hudorm1 {
    background: url(produktion/Hudorm.svg);
    position: absolute;
    background-size: 50%;
    height: 5vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 30vw;
    left: 46vw;
}

#hudorm2 {
    background: url(produktion/Hudorm.svg);
    position: absolute;
    background-size: 50%;
    height: 5vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 40vw;
    left: 20vw;
}

#hudorm3 {
    background: url(produktion/Hudorm.svg);
    position: absolute;
    background-size: 50%;
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 40vw;
    left: 70vw;
}

#vorte1 {
    background: url(produktion/Vorte.svg);
    position: absolute;
    background-size: 50%;
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 30vw;
    left: 60vw;
}

#vorte2 {
    background: url(produktion/Vorte.svg);
    position: absolute;
    background-size: 50%;
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 23vw;
    left: 17vw;
}

#vorte3 {
    background: url(produktion/Vorte.svg);
    position: absolute;
    background-size: 50%;
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 20vw;
    left: 80vw;
}

#points {
    background: url(produktion/Point.svg);
    position: absolute;
    background-size: 50%;
    height: 15vw;
    width: 30vw;
    background-repeat: no-repeat;
    top: 1vw;
    left: 1vw;
}

#energy {
    background: url(produktion/Liv.svg);
    position: absolute;
    background-size: 80%;
    height: 10vw;
    width: 20vw;
    background-repeat: no-repeat;
    top: 48vw;
    left: 1vw;
}

#time {
    background: url(produktion/Tid.svg);
    position: absolute;
    background-size: 80%;
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 1vw;
    left: 90vw;
}


/********************** Indstillinger ************************/

#indstillinger {
    background: url(produktion/Indstillinger.svg);
    position: absolute;
    background-size: 100%;
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    top: 45vw;
    left: 90vw;
}

#settings {
    background: url(produktion/Setting.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-size: 100%;
}

.fade {
    animation-name: fade_kf;
    display: none;
}

@keyframes fade_kf {
    0% {}

    100 {}
}

/******************* Game Over *********************/
#gameover {
    background: url(produktion/Slutscreen.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-size: 100%
}

.slut {
    animation-name: slut_kf;
    display: none;

}

@keyframes fade_kf {
    0% {}

    100 {}
}

/******************* Level Complete *********************/
#levelcomplete {
    background: url(produktion/Slutscreen_vinder.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-size: 100%
}

.vind {
    animation-name: vind_kf;
    display: none;

}

@keyframes vind_kf {
    0% {}

    100 {}
}
